In [215]:
# Loading realestate data
import pandas as pd
realestate = pd.read_csv("realestate.csv")
realestate.head()

   Unnamed: 0      date   age   distance  stores  latitude  longitude  price
0           1  2012.917  32.0   84.87882      10  24.98298  121.54024   37.9
1           2  2012.917  19.5  306.59470       9  24.98034  121.53951   42.2
2           3  2013.583  13.3  561.98450       5  24.98746  121.54391   47.3
3           4  2013.500  13.3  561.98450       5  24.98746  121.54391   54.8
4           5  2012.833   5.0  390.56840       5  24.97937  121.54245   43.1

In [216]:
# Create season var from date

## Creating a var 'new' with decimal values from 'date' var
import numpy as np
realestate["new"]=realestate["date"] - np.floor(realestate["date"])  #Math.floor expects a single number, not array
realestate.head()

,Unnamed: 0,date,age,distance,stores,latitude,longitude,price,new
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9,0.917
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2,0.917
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3,0.583
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8,0.500
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1,0.833

In [217]:
realestate=realestate.drop(columns=realestate.columns[0])
realestate.dtypes

date         float64
age          float64
distance     float64
stores         int64
latitude     float64
longitude    float64
price        float64
new          float64
dtype: object

In [218]:
realestate.loc[(realestate.new >= .250) & (realestate.new < .418),'season' ]="spring"
realestate.loc[(realestate.new >= .500) & (realestate.new < .668),'season' ]="summer"
realestate.loc[(realestate.new >= .750) & (realestate.new < .918),'season' ]="fall"
realestate.loc[(realestate.new >= .000) & (realestate.new < .168),'season' ]="winter"

realestate.head()

,date,age,distance,stores,latitude,longitude,price,new,season
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9,0.917,fall
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2,0.917,fall
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3,0.583,summer
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8,0.500,summer
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1,0.833,fall

In [219]:
realestate=realestate.drop(columns=['new'])

## Table summary of 'season' var

In [220]:
## Changing data type to factor
realestate.dtypes

date         float64
age          float64
distance     float64
stores         int64
latitude     float64
longitude    float64
price        float64
season        object
dtype: object

In [221]:
# Preparing Season variable for linear regression model
cat_var=realestate["season"]
cat_var=pd.get_dummies(data=cat_var)

realestate=pd.concat([realestate,cat_var], axis=1)
realestate=realestate.drop(columns=['season'])
realestate.head()

,date,age,distance,stores,latitude,longitude,price,fall,spring,summer,winter
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9,1,0,0,0
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2,1,0,0,0
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3,0,0,1,0
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8,0,0,1,0
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1,1,0,0,0

In [222]:
## Spliting data into testing data (100 observations) & training data (rest obs)

from sklearn.model_selection import train_test_split
train, test = train_test_split(realestate, test_size=100/len(realestate))

In [223]:
train.shape

(314, 11)

In [224]:
test.shape

(100, 11)

In [225]:
## Reporting the mean price of testing data and training data
np.mean(train["price"])

38.28726114649682

In [226]:
np.mean(test["price"])

37.016000000000005

In [227]:
## Use the training dataset to perform a linear regression

from sklearn.linear_model import LinearRegression
X=train[["age","distance","stores","fall","spring","summer", "winter"]]
y=train["price"]
model=LinearRegression(fit_intercept=False).fit(X,y)

In [228]:
## Predicting the testing data
test_pred=model.predict(test[["age","distance","stores","fall","spring","summer", "winter"]])
test_pred

array([50.22209333, 51.19822416, 32.68373756, 29.3776122 , 41.09361013,
       29.73795343, 31.18956746, 45.29252175, 56.12043516, 17.06729181,
       35.79882128, 46.4740768 , 44.22108369, 53.87486316, 38.34673773,
       34.70516806, 36.1140618 , 31.14316905, 35.29366608, 17.85680071,
       39.80392234, 32.50531902, 23.80935139, 51.26736899, 48.6849747 ,
       45.93338457, 50.22209333, 44.9205908 , 49.04567792, 32.57229451,
       30.07374875, 50.77500456, 33.98302523, 39.12493527, 40.42983417,
       48.23321489, 39.24130584, 42.24003961, 38.41207993, 35.42302771,
       36.5448334 , 35.30994727, 45.60311714, 41.49069311, 34.30790597,
       28.00159502, 37.62039788, 33.70404615, 39.33656052, 33.3765172 ,
       39.46228547, 37.59115681, 46.297708  , 36.01248448, 32.79959064,
       29.86248586, 41.81155952, 42.33701668, 40.39641561, 48.52623993,
       17.85680071, 19.54385308, 43.43497457, 33.22168183, 33.75276534,
       34.74878831, 40.83133431, 42.79141516, 49.81348382, 52.77071526,
       33.44062534, 43.72692479, 37.38323533, 47.29588028, 41.61104188,
       38.1802525 , 21.709896  , 33.87000709, 29.21733532, 44.55268836,
       53.32222211, 48.25956493, 30.67507352, 35.39251444, 44.4751653 ,
       35.95205845, 34.64668592, 37.01660425, 54.75311763, 47.88245313,
       39.42447307,  7.05074103, 37.62039788, 37.62039788, 49.2557424 ,
       46.46665569, 44.72283152, 48.95835785, 44.69637213, 53.44362834])

In [229]:
## Training data mean squared error
train_pred=model.predict(train[["age","distance","stores","fall","spring","summer", "winter"]])
training_error=np.mean((train["price"] - train_pred)**2)
training_error

89.18902303663886

In [230]:
## Testing data mean squared error
testing_error=np.mean((test["price"] - test_pred)**2)
testing_error

63.29887448763914

### Calculating beta parameter

In [231]:
## Adding a column to represent the intercept term
#train.insert(0, 'Intercept', 1)
train.head()

,date,age,distance,stores,latitude,longitude,price,fall,spring,summer,winter
347,2013.583,17.4,6488.0210,1,24.95719,121.47353,11.2,0,0,1,0
140,2013.250,16.2,289.3248,5,24.98203,121.54348,51.4,0,1,0,0
209,2012.833,34.8,175.6294,8,24.97347,121.54271,40.9,1,0,0,0
145,2012.917,2.1,451.2438,5,24.97563,121.54694,45.5,1,0,0,0
98,2013.417,16.4,289.3248,5,24.98203,121.54348,51.0,0,1,0,0

In [232]:
# Dropping vars 'longitude','latitude', 'date' 
train=train.drop(columns=['longitude','latitude', 'date'])
train.head()

      age   distance  stores  price  fall  spring  summer  winter
347  17.4  6488.0210       1   11.2     0       0       1       0
140  16.2   289.3248       5   51.4     0       1       0       0
209  34.8   175.6294       8   40.9     1       0       0       0
145   2.1   451.2438       5   45.5     1       0       0       0
98   16.4   289.3248       5   51.0     0       1       0       0

In [233]:
# Re-ordering vars 
train = train[['age', 'distance', 'stores',"fall","spring","summer", "winter",'price']]
train.head()

      age   distance  stores  fall  spring  summer  winter  price
347  17.4  6488.0210       1     0       0       1       0   11.2
140  16.2   289.3248       5     0       1       0       0   51.4
209  34.8   175.6294       8     1       0       0       0   40.9
145   2.1   451.2438       5     1       0       0       0   45.5
98   16.4   289.3248       5     0       1       0       0   51.0

In [234]:
# Creating X matrix and y matrix
X=train.loc[:, train.columns != 'price'].to_numpy()
y=train['price'].to_numpy()

In [235]:
# Taking transpose of matrix X -- X_t
X_t = np.transpose(X)

In [236]:
# Taking inverse of product of X_t with X 
from numpy.linalg import inv
prod_inverse = inv(np.matmul(X_t,X))

In [237]:
# Taking product of 'prod_inverse', X_t, and y -- beta_parameter
beta_parameter =  np.matmul(np.matmul(prod_inverse,X_t),y)

In [238]:
# Calculating the training error of model using beta parameter
y_pred_param=np.matmul(X,beta_parameter)
np.mean((train["price"] - y_pred_param)**2)

89.18902303663883

In [239]:
y_pred_param[:5]

array([ 8.05428213, 44.53364744, 41.37973413, 45.43815236, 44.4751653 ])

In [240]:
## Training data mean squared error
training_error

89.18902303663886

In [241]:
realestate.head()

,date,age,distance,stores,latitude,longitude,price,fall,spring,summer,winter
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9,1,0,0,0
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2,1,0,0,0
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3,0,0,1,0
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8,0,0,1,0
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1,1,0,0,0

In [242]:
from sklearn.model_selection import train_test_split
train2, test2 = train_test_split(realestate, test_size=100/len(realestate))

In [243]:
# Creating X matrix and y matrix
X2=train2.loc[:, train2.columns != 'price'].to_numpy()
y2=train2['price'].to_numpy()

X3=train2[["age","distance","stores"]].to_numpy()
y3=train2['price'].to_numpy()

In [244]:
from sklearn.linear_model import LinearRegression
full_model=LinearRegression(fit_intercept=False).fit(X2,y2)
sub_model=LinearRegression().fit(X3,y3)

In [245]:
# Calculating the Cp criterion for the full model
from sklearn.metrics import mean_squared_error
train_pred2=full_model.predict(train2.loc[:, train2.columns != 'price'])

p_full=10
n=len(train2)
RSS_full=sum((train2["price"]-train_pred2)**2) * n
sigma_square_full=mean_squared_error(train2["price"], train_pred2)
Cp_full=RSS_full+2*p_full*sigma_square_full

Cp_full

8472499.94347274

In [246]:
# Calculating the Cp criterion for the full model
from sklearn.metrics import mean_squared_error
train_pred3=sub_model.predict(train2[["age","distance","stores"]])

p_sub=4
n=len(train2)
RSS_sub=sum((train2["price"]-train_pred3)**2) * n
sigma_square_sub=mean_squared_error(train2["price"], train_pred3)
Cp_sub=RSS_sub+2*p_sub*sigma_square_sub

Cp_sub

9227974.933662606


The better model based on Mallow’s Cp criterion is the one with lower Cp value i.e. full model i.e., with all variables included.

In [ ]:
# Calculating AIC BIC

In [ ]:
# Step-wise regression with AIC

## Implementing Best subset selection (using itertools.combinations)¶

In [255]:
#Initialization variables
y = train.price
X = train.drop(columns = ['price'])
k = 7
RSS_list, R_squared_list, feature_list = [],[], []
num_features = []

### Helper function for fitting linear regression (Sklearn)

In [256]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error


def fit_linear_reg(X,y):
    """Fit linear regression model and return RSS and R squared values"""
    model_k=LinearRegression().fit(X,y)
    pred=model_k.predict(X)
    RSS_k=mean_squared_error(y,pred)* len(Y)
    R_squared_k=model_k.score(X,Y)
    return([RSS_k,R_squared_k])
#return RSS, R_squared

In [260]:
import itertools
import pandas as pd
from tqdm import tnrange, tqdm_notebook  #Importing tqdm for the progress bar

for k in tnrange(1,len(X.columns) + 1, desc = 'Loop...'):
    
        for comb in itertools.combinations(X.columns,k):
            lm=fit_linear_reg(X[list(comb)],y)
            RSS_list.append(lm[0])
            R_squared_list.append(lm[1])
            num_features.append(len(combo))
            feature_list.append(comb)

df=pd.DataFrame({'numb_features':num_features,'RSS_list':RSS_list, 'R_squared_list':R_squared_list,'feature_list':feature_list})

/Users/sharvitomar/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: TqdmDeprecationWarning: Please use `tqdm.notebook.trange` instead of `tqdm.tnrange`
  """

Loop...:   0%|          | 0/7 [00:00<?, ?it/s]

In [261]:
df

,numb_features,RSS_list,R_squared_list,feature_list
0,7,59654.829925,-0.083421,"(age,)"
1,7,34683.783053,-0.508097,"(distance,)"
2,7,42479.475290,-0.284569,"(stores,)"
3,7,62011.686583,-0.022965,"(fall,)"
4,7,62062.941589,-0.035863,"(spring,)"
...,...,...,...,...
503,7,28005.353234,-0.614256,"(age, distance, stores, spring, summer, winter)"
504,7,31202.704959,-0.598053,"(age, distance, fall, spring, summer, winter)"
505,7,37297.290726,-0.411520,"(age, stores, fall, spring, summer, winter)"
506,7,31385.254939,-0.536622,"(distance, stores, fall, spring, summer, winter)"
507,7,28005.353234,-0.614256,"(age, distance, stores, fall, spring, summer, ..."

## Implementing Stepwise Regression (using statsmodels)

It tries to optimize adjusted R-squared by adding features that help the most one at a time until the score goes down or you run out of features.

In [262]:
import statsmodels.formula.api as smf

def forward_selected(data, response):
    """Linear model designed by forward selection.

    Parameters:
    -----------
    data : pandas DataFrame with all possible predictors and response

    response: string, name of response column in data

    Returns:
    --------
    model: an "optimal" fitted statsmodels linear model
           with an intercept
           selected by forward selection
           evaluated by adjusted R-squared
    """
    remaining = set(data.columns)
    remaining.remove(response)
    selected = []
    current_score, best_new_score = 0.0, 0.0
    while remaining and current_score == best_new_score:
        scores_with_candidates = []
        for candidate in remaining:
            formula = "{} ~ {} + 1".format(response,
                                           ' + '.join(selected + [candidate]))
            score = smf.ols(formula, data).fit().rsquared_adj
            scores_with_candidates.append((score, candidate))
        scores_with_candidates.sort()
        best_new_score, best_candidate = scores_with_candidates.pop()
        if current_score < best_new_score:
            remaining.remove(best_candidate)
            selected.append(best_candidate)
            current_score = best_new_score
    formula = "{} ~ {} + 1".format(response,
                                   ' + '.join(selected))
    model = smf.ols(formula, data).fit()
    return model